.button {
    height: 3.3rem;
    border-radius: 8px;
    font-weight: 500;
    background: linear-gradient(89.89deg, #6A45D8 3.94%, rgba(214, 71, 235, 0.79) 97.14%);
    box-shadow: 0px 5px 20px rgba(107, 66, 225, 0.7);
    
    color: #fff;
    padding: 0 2.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;
    transition: filter 0.2s;

    img {
        margin-right: 8px;
    }

    &.outline {
        background: var(--primaryColor);
        border: 1px solid var(--isOutlineButtonColor);
        color: var(--isOutlineButtonColor);
    }

    &:not(:disabled):hover {
        filter: brightness(0.9);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

@media (max-width: 720px) {
    .button {
        &.outline {
            width: 7rem;
            font-size: 0.8rem;
        }
    }
}