* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primaryColor);
    color: #29292e;
}

body,
input,
button,
textarea {
    font: 400 16px "Roboto", sans-serif;
}

button {
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
}
