#page-room {
    header {
        padding: 1.6rem;
        border-bottom: 1px solid var(--border);
    }

    .content {
        max-width: 72.2rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > img {
            max-height: 3rem;
        }

        > div {
            display: flex;
            gap: 1rem;

            button {
                height: 2.6rem;
            }
        }
    }

    main {
        max-width: 53.3rem;
        margin: 0 auto;

        .room-title {
            margin: 2rem 0 1.6rem;
            display: flex;
            align-items: center;

            h1 {
                font-family: "Poppins", sans-serif;
                font-size: 1.6rem;
                color: var(--title);
            }

            span {
                margin-left: 1rem;
                background: #e559f9;
                border-radius: 9999px;
                padding: 0.5rem 1rem;
                color: #fff;
                font-weight: 500;
                font-size: 1rem;
            }
        }

        form {
            textarea {
                width: 100%;
                border: 0;
                padding: 1rem;
                border-radius: 8px;
                background: var(--questionContainer);
                color: var(--fontColor1);
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                resize: vertical;
                min-height: 8.5rem;
            }

            .form-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;

                .user-info {
                    display: flex;
                    align-items: center;

                    img {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                    }

                    span {
                        margin-left: 8px;
                        color: var(--title);
                        font-weight: 500;
                        font-size: 1rem;
                    }
                }

                > span {
                    font-size: 1rem;
                    color: #737380;
                    font-weight: 500;

                    button {
                        background: transparent;
                        border: 0;
                        color: #6a45d8;
                        text-decoration: underline;
                        font-size: 1rem;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }

        .question-list {
            margin-top: 2rem;
        }
    }
}

@media (max-width: 1000px) {
    #page-room {
        main {
            width: 90%;
        }
    }
}

