#sucessNotification {
    font: 400 16px "Roboto", sans-serif;
    background: #4CDF2E;
}

#errorNotification {
    font: 400 16px "Roboto", sans-serif;
    background: #DA4040;
}

#warningNotification{
    font: 400 16px "Roboto", sans-serif;
    background: #E49316;
}
