.room-code {
    height: 2.5rem;
    border-radius: 0.5rem;
    overflow: hidden;

    background: var(--primaryColor);
    border: 1px solid var(--isOutlineButtonColor);
    color: var(--isOutlineButtonColor);
    cursor: pointer;

    display: flex;

    div {
        height: 2.5rem;
        background: #6A45D8;
        padding: 0 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 1rem 0 0.8rem;
        width: 18rem;
        font-size: 1rem;
        font-weight: 500;
    }
}

@media (max-width: 720px) {
    .room-code {
        span {
            display: none
        }
    }
}
